/* Color variables */
:root {
  --main: #121212;
	--dark-text: #222222;
	--alternative: #F2EFEA;
	--sky-blue: #048ba8;
	--green: #306B34;
	--casi-green: #1a7b6e;
  --blue-op: #1F214C;
  --bg-1: #f2efea;
  --bg-2: #22222213;
}


body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--alternative);
}

p {
  font-size: 13px;
  color: var(--main);
  line-height: 24px;
}

section {
  padding: 60px 60px;
}

.hide {
  display: none;
}

.page-content {
  width: 77.5%;
  float: right;
}

.content-section {
  position: relative;
  width: 100%;
  display: inline-block;
  height: auto;
  left: 50%;
  text-align: justify;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.section-heading {
  text-align: left;
  position: relative;
  padding-bottom: 60px;
}

.section-heading h1 {
  margin-top: 0px;
  font-size: 32px;
  color: #232323;
  display: inline-block;
  margin-right: 50px;
}

.section-heading em {
  font-style: normal;
  font-weight: 700;
  color: var(--casi-green);
  
}

.section-heading p {
  display: inline-block;
  font-size: 15px;
  line-height: 26px;
  color: #343434;
  position: absolute;
  top: 12.5px;
}

.white-button a {
  font-size: 13px;
  font-weight: 600;
  color: var(--casi-green);
  text-transform: capitalize;
  background-color: var(--alternative);
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0px 25px;
  letter-spacing: 0.25px;
  text-decoration: none;
  transition: all 0.3s;
}

.white-button a:hover {
  /* background-color: var(--casi-green); */
  background-color: var(--sky-blue);
  color: #fff;
}

.accent-button a {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  background-color: var(--casi-green);
  display: inline-block;
  height: 44px;
  line-height: 44px;
  padding: 0px 25px;
  letter-spacing: 0.25px;
  text-decoration: none;
  transition: all 0.3s;
}

.accent-button a:hover {
  background-color: #fff;
  color: var(--casi-green);
}

header {
    position: fixed;
    top: 0;
    transition: top 0.3s ease-in-out;
    width: 100%;
}

.nav-up {
    top: -75px;
}

/* SITE BUTTON FROM STYLE.CSS */
.site-btn {
	display: inline-block;
	font-weight: 700;
	border: 4px solid;
	min-width: 200px;
	text-align: center;
	padding: 19px 0;
	position: relative;
	background-color: transparent;
	margin-right: 15px;
	z-index: 1;
}

.site-btn:after,
.site-btn:before {
	position: absolute;
	content: "";
	width: 26px;
	height: 4px;
	right: -15px;
}

.site-btn:after {
	bottom: 8px;
}

.site-btn:before {
	bottom: 18px;
}

.site-btn.sb-light {
	color: var(--casi-green);
}

.site-btn.sb-light:after,
.site-btn.sb-light:before {
	background: var(--casi-green);
}

.site-btn.sb-dark {
	color: var(--dark-text);
}

.site-btn.sb-dark:after,
.site-btn.sb-dark:before {
	background: var(--main);
}

.site-btn.sb-solid-color {
	background: #1a7b6e;
	border-color: #1a7b6e;;
}

.site-btn.sb-solid-color:after,
.site-btn.sb-solid-color:before {
	background: var(--casi-green);
}

.site-btn.sb-solid-dark {
	background: #222;
	border-color: #222;
	color: #baff00;
}

.site-btn.sb-solid-dark:after,
.site-btn.sb-solid-dark:before {
	background: #baff00;
}


/* Responsive Navigation */

.responsive-nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 80px;
  background-color: rgba(250,250,250,.95);
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.navbar-toggle {
  position: absolute;
  top: 40%;
  left: 50%;
  display: inline-block;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.navbar-nav {
  margin: 0;
  border: none;
}

#main-nav ul {
  text-align: center;
  background-color: var(--main);
  margin-top: 59px;
  width: 100%;
}
#main-nav ul li {
  margin: 15px 0px;
}
#main-nav ul li:hover {
  background-color: transparent;
}
#main-nav ul li a {
  font-size: 15px;
  text-transform: capitalize;
  color: #fff;
  box-shadow: none;
  border: none;
}

#main-nav ul li a:hover {
  opacity: 0.5;
  background-color: transparent;
}

.navbar-toggle span {
  background-color: var(--main);
}


/* Sidebar Style */

.sidebar-navigation {
  width: 22.5%;
  float: left;
  height: 100%;
  position: fixed;
  background: linear-gradient(151deg, rgba(18,18,18,1) 0%, rgba(4,139,168,1) 100%);
  z-index: 10;
}

.sidebar-navigation .logo {
  position: absolute;
  width: 100%;
  height: 140px;
  line-height: 100px;
  /* background-color: var(--casi-green); */
  background: rgb(18,18,18);
  background: linear-gradient(151deg, rgba(18,18,18,1) 0%, rgba(4,139,168,1) 100%);
  padding: 20px;
  text-align: center;
}

.sidebar-navigation .logo a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  height: 100px;
  width: 100%;
  display: inline-block;
  border: 1px solid rgba(250,250,250,0.5);
}

.sidebar-navigation .logo em {
  font-style: normal;
  font-weight: 300;
}

.sidebar-navigation nav {
  position: relative;
  top: 63%;
  left: 60%;
  -webkit-transform: translateX(-60%) translateY(-60%);
  -moz-transform: translateX(-60%) translateY(-60%);
  -ms-transform: translateX(-60%) translateY(-60%);
  -o-transform: translateX(-60%) translateY(-60%);
  transform: translateX(-60%) translateY(-60%);
}

.sidebar-navigation ul {
  margin-left: 45px;
  list-style: none;
  padding: 0;
}
.sidebar-navigation li{
  padding: 10px 0;
}
.sidebar-navigation span{
  display: inline-block;
  position:relative;
}
.sidebar-navigation nav a{
  display: inline-block;
  color: #fff;
  margin-top: 5px;
  text-decoration: none!important;
  font-size: 15px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}
.circle{
  margin-right: 5px;
  height: 10px;
  width: 10px;
  left: 0px;
  top: -1px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid #fff;
  transition: all 0.3s;
}
.rect{
  height: 1px;
  width: 0px;
  left: 0;
  bottom: 5.5px;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.1s, width 0.6s;
  -moz-transition: -webkit-transform 0.1s, width 0.6s;
  transition: transform 0.1s, width 0.6s;
}
.sidebar-navigation nav a:focus {
  color: #fff;
}
.sidebar-navigation nav a:hover, nav .active-section {
  color: #fff;
}
.sidebar-navigation nav a:hover span, nav .active-section span{
  background-color: #ddd;
}
.sidebar-navigation nav .active-section .rect{
  width: 30px;
}
.sidebar-navigation nav .active-section .circle{
  background-color: #fff;
}

.sidebar-navigation .social-icons {
  position: absolute;
  width: 100%;  
  bottom: 10px;
  padding: 0 20px;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.sidebar-navigation .social-icons li {
  display: inline-block;
  margin-right: 15px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.sidebar-navigation .social-icons li:last-child {
  margin-right: 0px;
}

.sidebar-navigation .social-icons li a {
  font-size: 18px;
  color: #fff;
  transition: all 0.5s;
}

.sidebar-navigation .social-icons li a:hover {
  color: var(--main);
}


@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
      display: none!important;
  }
}
/* +BACKGROUNDs+ */
#portada {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-bottom: 0;
  background: #F2EFEA;
  /* background: linear-gradient(180deg, var(--casi-green) 0%, rgba(4,139,168,1) 49%, rgba(242,239,234,1) 100%); */
}
/* Capitulo 1 */
#cap1 {
  background-color: var(--bg-1);
}
#cap2, #profesores {
  background-color: var(--bg-2);
}
#cap3 {
  background-color: var(--bg-1);
}
#cap4 {
  background-color: var(--bg-2);
}
#cap5 {
  background-color: var(--bg-1);
}
#cap6 {
  background-color: var(--bg-2);
}
#cap7 {
  background-color: var(--bg-1);
}



/* profesores Style */
#profesores .section-heading {
  margin-right: 20%;
}

#profesores .content-section {
  display: inline-block;
  position: relative;
}

#profesores .owl-dots {
  margin-top: 40px;
}

#profesores .owl-dots .owl-dot span  {
  width: 12px;
  height: 12px;
  background-color: #cdcdcd!important;
  display: inline-block;
  border-radius: 50%;
  margin: 0 3px;
}

#profesores .owl-dots .active span {
  background-color: var(--casi-green)!important;
}

#profesores .owl-dots button {
  outline: none;
}

#profesores .owl-nav {
  position: absolute;
  display: inline-block;
  top: -110px;
  right: 0;
}

#profesores .owl-nav button:focus {
  outline: none;
}

#profesores .owl-nav .owl-prev span {
  margin-right: 10px;
}

#profesores .owl-nav .owl-next span, #profesores .owl-nav .owl-prev span {
  outline: none;
  width: 50px;
  height: 50px;
  display: inline-block;
  text-align: center;
  line-height: 42px;
  background-color: var(--main);
  color: var(--casi-green);
  font-size: 42px;
  transition: all 0.5s;
}

#profesores .owl-nav span:hover {
  background-color: var(--casi-green);
  color: var(--alternative);
}

#profesores .item {
  text-align: left;
  position: relative;
  z-index: 10;
}

#profesores .item .image {
  position: relative;
}

#profesores .item .image img {
  width: 100%;
  overflow: hidden;
}

#profesores .item .image .profesores-button a {
  font-size: 13px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-transform: capitalize;
  background-color: rgba(69,72,154, 0.9);
  display: inline-block;
  height: 44px;
  line-height: 44px;
  width: 100%;
  letter-spacing: 0.25px;
  text-decoration: none;
  transition: all 0.5s;
  position: absolute;
  z-index: 9;
  bottom: -44px;
  opacity: 0;
}

#profesores .item:hover .profesores-button a {
  bottom: 0;
  opacity: 1;
}

#profesores .item .text-content {
  padding: 15px 20px;
  background-color: var(--main);
  position: relative;
  z-index: 10;
}

#profesores .item .text-content h4 {
  font-size: 18px;
  font-weight: 600;
  color: var(--casi-green);
  letter-spacing: 0.5px;
}

#profesores .item .text-content span {
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  color: #7a7a7a;
  letter-spacing: 0.5px;
}

#profesores .item .text-content p {
  color: var(--alternative);
  padding-top: 10px;
  font-size: 12px;
  line-height: 1.5;
  text-align: justify;
}



/* Projects Style */

#metodo .masonry {
  position: relative;
  width: 100%;
}

#metodo .masonry .item img {
  transition: all 1s;
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
}

#metodo .masonry .item img:hover {
  opacity: 0.5;
}



/* Video Presentation Style */

#intro {
  text-align: center;
  background-color: #f4f4f4;
  padding: 100px 60px;
}

#intro .section-heading {
  margin-bottom: 30px;
  text-align: center;
}

#intro .section-heading h1 {
  display: block;
  margin: 0px;
}

#intro .section-heading p {
  position: relative;
  margin: 0px;
}

#intro .accent-button {
  margin-top: 30px;
}

.box-video{
  width: 100%;
  position: relative;
  margin-top: 30px;
  cursor: pointer;
  overflow: hidden;
}

.box-video .bg-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2;
}

.box-video .video-container{
  position: relative;
  margin: 0;
  z-index: 1;
}

.box-video .bt-play {
  position: absolute;
  top:50%;
  left:50%;
  margin:-30px 0 0 -30px;
  display: inline-block;
  width: 60px;
  height: 60px;
  background:#fff;
  border-radius: 50%;
  text-indent: -999em;
  cursor: pointer;
  z-index:2;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.box-video .bt-play:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  height: 0;
  width: 0;
  margin: -12px 0 0 -6px;
  border: solid transparent;
  border-left-color: #000;
  border-width: 12px 20px;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
.box-video:hover .bt-play {
  transform: scale(1.1);
}

.box-video.open .bg-video{
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .6s .8s;
  transition: all .6s .8s;  
}
.box-video.open .video-container{
  opacity: 1;
  -webkit-transition: all .6s .8s;
  transition: all .6s .8s;
}




/* cap7 Style */

#cap7 {
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 80px;
}

#cap7 .tabs {
  list-style: none;
  margin: 0px;
  padding: 0px;
  height: 90px;
  width: 100%;
  background-color: #eee;
  border-bottom: 10px solid var(--casi-green);
}

#cap7 .tabs li {
  display: inline-block;
  text-align: center;
  width: 25%;
  float: left;
  margin: 0;
  padding: 0;
}

#cap7 .tabs a {
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  color: #232323;
  font-size: 19px;
  line-height: 80px;
  font-weight: 600;
  transition: 0.5s;
}

#cap7 .tabs a:hover {
  color: var(--casi-green);
}


#cap7 .tabs .active:hover {
  color: #fff;
}

#cap7 .tabs .active {
  background-color: var(--casi-green);
  color: #fff;
}

.tabgroup {
  background-color: #f4f4f4;
  padding: 20px 30px;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

#cap7 .tabgroup ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

#cap7 .tabgroup ul li {
  display: inline-block;
  text-align: left;
  margin-bottom: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

#cap7 .tabgroup ul li:last-child {
  border-bottom: none;
  margin-bottom: 0px;
  padding-bottom: 10px;
}

#cap7 .tabgroup ul li img {
  float: left;
  margin-right: 30px;
  max-width: 100%;
  overflow: hidden;
}
#cap7 .tabgroup ul li .text-content {
  display: inline;
}

#cap7 .item .text-content h4 {
  padding-top: 7.5px;
  margin-top: 0px;
  margin-bottom: 5px;
  font-size: 21px;
  font-weight: 600;
  color: #232323;
  letter-spacing: 0.5px;
}

#cap7 .item .text-content span {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: #7a7a7a;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

#cap7 .item .text-content .accent-button {
  margin-top: 25px;
}




/* Contact Style */

#contact {
  padding-top: 0px;
}

#contact-content {
  padding: 80px 60px;
}

#contact input {
  border-radius: 0px;
  padding-left: 15px;
  font-size: 13px;
  color: #aaa;
  background-color: #f4f4f4;
  border: 1px solid #eee;
  outline: none;
  box-shadow: none;
  line-height: 40px;
  height: 40px;
  width: 100%;
  margin-bottom: 25px;
}

#contact textarea {
  border-radius: 0px;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 13px;
  color: #aaa;
  background-color: #f4f4f4;
  border: 1px solid #eee;
  outline: none;
  box-shadow: none;
  height: 200px;
  max-height: 250px;
  width: 100%;
  max-width: 100%;
  margin-bottom: 25px;
}

#contact button {
  font-size: 13px;
  border-radius: 0px;
  font-weight: 600;
  color: #fff;
  text-transform: capitalize;
  background-color: var(--casi-green);
  display: inline-block;
  height: 44px;
  line-height: 24px;
  outline: none;
  box-shadow: none;
  width: 100%;
  letter-spacing: 0.25px;
  text-decoration: none;
  transition: all 0.3s;
}

#contact button:hover {
  color: #232323;
  background-color: #f4f4f4;
}



/* Footer Style */

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10em;
  width: 100%;
}

.container .single-brand a img {
	opacity: 0.2;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
  width: 250px;
}

.container .single-brand a:hover img {
	opacity: 1;
}

.footer {
  margin-top: 2em;
  background-color: rgba(12,12,12,0.9);
  height: 50px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.footer p {
  margin-bottom: 0px;
  font-size: 13px;
  color: #fff;
  letter-spacing: 0.5px;
  font-weight: 300;
}

.footer p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}



/* Responsive Style */

@media (max-width: 992px) {

  .responsive-nav {
    display: none;
  }

  .sidebar-navigation .logo a {
    font-size: 18px;
  }

  .sidebar-navigation nav a {
    font-size: 13px;
  }

  .sidebar-navigation nav ul {
    margin-left: 30px;
  }

  .sidebar-navigation .social-icons li a {
    font-size: 15px;
  }

  section {
    padding: 30px 0;
  }

  .section-heading p {
    position: relative;
  }

  #profesores {
    padding-left: 15px;
    padding-right: 15px;
  }

  #profesores .owl-nav {
    position: absolute;
    display: inline-block;
    top: -220px;
    right: 0;
  }

  #metodo {
    padding-left: 15px;
    padding-right: 15px;
  }

  #intro {
    padding-left: 15px;
    padding-right: 15px;
  }

  #cap7 {
    padding-left: 15px;
    padding-right: 15px;
  }

  #cap7 .tabs a {
    font-size: 13px;
  }

  #cap7 .tabgroup ul li img {
    float: none;
    width: 100%;
    margin-bottom: 15px;
  }
  #cap7 .tabgroup ul li .text-content {
    display: block;
  }

  #contact-content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .site-btn {
    min-width: 100px;
  }

}


@media (max-width: 767px) {

  .responsive-nav {
    display: block;
    height: 60px;
  }

  .page-content {
    width: 100%;
  }

  .Modern-Slider .info {
    text-align: center;
    right: 0px;
    padding: 0px 30px;
  }

  .Modern-Slider .NextArrow{
    outline: none;
    display: none;
    position:absolute;
    top:120px;
    right: 50%;
    transform: translateX(50%);
    margin-right: -30px;
    width:50px;
    height:50px;
    background:rgba(0,0,0,.50);
    border:0 none;
    text-align:center;
    font:32px/50px FontAwesome;
    color:#FFF;
    z-index:5;
  }

  .Modern-Slider .NextArrow:before{content:'\f105';}

  .Modern-Slider .PrevArrow{
    outline: none;
    position:absolute;
    top:120px;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -30px;
    width:50px;
    height:50px;
    background:rgba(0,0,0,.50);
    border:0 none;
    text-align:center;
    font:32px/50px FontAwesome;
    color:#FFF;
    z-index:5;
  }

  

}

